body {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
}
#editCartaoModal {
    display: none;
  }
/* Estilo para o backdrop do modal */


.form-control,
.form-select {
    background-color: #444;
    color: #fff;
    border-color: #333;
}
.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border-color: #555;
}