body {
    background-color: #121212;
    color: #fff;
}
.form-control,
.form-select {
    background-color: #444;
    color: #fff;
    border-color: #333;
}
.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border-color: #555;
}
form {
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
}